p{
	color: #45ff38;
	background-color: #9e9e9e;
	text-align: left;
}


.classified
{
	color:white;
	background-color: black;
	text-align: right;
}


span.specific_class_selector
{
	color: #9e9e9e;
	background-color: #45ff38;	
}
